<div class="food-card u-red-hat-text">
    <section>
        <img class="food-card__image" src="assets/images/image-baklava-desktop.jpg" alt="Food item">
        <button class="food-card__button">
            <img src="assets/images/icon-add-to-cart.svg" alt="An icon of a red cart with a plus on top.">
            <span>Add to Cart</span>
        </button>
    </section>
    <section class="food-card__description">
        <h2 class=" u-red-hat-text_400 food-card__description_font-size_small">Waffle</h2>
        <h1 class="u-red-hat-text_700 food-card__description_font-size_large">Waffle with Berries</h1>
        <p class="u-red-hat-text_600 u-color-palette_red">$6.50</p>
    </section>
</div>